@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;500;700&display=swap");

body,
html {
  font-family: "Raleway", sans-serif;
}
li{
  list-style: none;
}

small{
  color: #0069D9;
  font-size: 1rem;
  font-weight: bold;
  
}

.header {
    background: rgb(29,5,66);
    background: linear-gradient(180deg, rgba(29,5,66,1) 0%, rgba(34,6,126,1) 61%, rgb(1, 0, 25) 100%);
}

.navbar-toggler-icon{
  background-color: rgba(241, 246, 252, 0.855);
}

img{
  object-fit: cover;
}
.btn-header{
  background-color: #724ced;
  color:aliceblue
}
.header .estilos--logo {
  font-size: 1.8rem;
  font-weight: 700;
}
a {
  color: aliceblue !important;
}

/* seccion slide */
.seccion-slide .container{
    height: 100%;
}

.seccion-slide * h1{
    font-size: 3rem;
    font-weight: 700;
}
.overlay {
  background-color: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 2%,
    rgba(9, 9, 121, 1) 61%,
    rgba(0, 212, 255, 1) 100%
  );
  height: 100%;
  position: relative;
}

.overlay * {
  color: aliceblue !important;
}

svg{
  position: absolute;
  
  bottom: -1px;
  left: 0;
  
}

.btn-estilos{
    background-color: rgb(217, 225, 233);
    color: #724ced !important;
}

.btn-estilos:hover{
    background-color: rgb(189, 196, 203);
}
/* /seccion slide */

/* seccion card */
.card--estilos{
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.14) , 0px 1px 10px 0px rgba(0,0,0,0.12) , 0px 2px 4px -1px rgba(0,0,0,0.2); }
.bi{
    color: #0069D9;
    font-size: 2.2rem;
    font-weight: 400;
}
.card-link{
    color: #0069D9 !important;
    font-weight: 700;
}
.card-body h5{
    color: black !important;
}
/* /seccion card */

/* seccion-banner */
.seccion-banner{
    background-image: url(./img/img-banner.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
}

.overlay-banner{
    background-color: #591b076d;
    height: 100%;
    color: aliceblue;
}

span.texto-numero{
    font-size: 3.4rem;
}

/* seccion testimonios */
figure{
  width: 100%;
  height: 80px;
}

.container-figure{
  display: grid;
  place-content: center;
}
.container-figure img{
  border-radius: 50%;
}

/* seccion expert */
.seccion-expert * p{
  color: #724ced;
}

/* estilos entradas blog */
.card-blog__title{
  line-height: 2rem;
  font-weight: bold;

}

.estilos-iconos{
  color: #724ced;
  font-size: .8rem;
  margin-right:1rem ;
  
}
/* / */

/* seccion digital */
.btn-digital{
  background-color: #815ef2;
  color: aliceblue;
  width: 150px;
  margin: .4rem;
  
}
.btn-digital:hover{
  background-color: #6d4fcc;
  cursor:none;


}

/* footer */
footer{
  background-color: #1C1C23;
  color:aliceblue
}

.estilo--blinea{
  border-bottom: 1px solid rgba(212, 208, 208, 0.803);
  margin-bottom: 1rem;
  
}

.bi-contact{
  color: aliceblue;
  font-size: 1.2rem;
}

.footer-final{
  width: 100%;
  background-color: #070315d6;
  height: 10vh;
}
